.det{
    width:80%;
    margin: 0 auto;
}

.det .it{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    width:90%;
}

.det .detailImg{
    width:20%;
}

.det .pqt{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.det .secondPart{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    width: 80%;
}

.det .pqt input{
    width:50px;
    height:20px;
}

#pay{
    width:80%;
    margin: 0 auto;
    text-align: right;
}

.pay{
    width: 170px;
    height:40px;
    font-size: 14px;
}


@media screen and (max-width: 450px) {
    .det{
        width:90%;
    }
    .det .secondPart{
      flex-direction: column;
      width: 70%;
    }
    span, p{
        font-size: 13px;
    }
  }