footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    line-height: 30px;
  }


@media only screen and (max-width: 650px){
   footer p{
        font-size: 0.6em;
    }
}
  
