.shipping{
    width:60%;
    margin: 0 auto;
}

.shipping h1{
    font-size: 10em;
    margin: 0 0 30px 0;
}

.shipping h5{
    text-decoration: underline;
}

.shipping p{
    line-height: 30px;
}


@media only screen and (max-width: 650px) {
     
    .shipping h1{
        font-size: 1.8em;
        font-weight: bold;
    }

    .shipping h5{
    font-size: 1.9em;
}

    .shipping{
        width:85%;
    }

    .shipping p{
        line-height: 25px;
        font-size: 1.4em;
    }

}
