.shipping{
    width:60%;
    margin: 0 auto;
}

.shipping h1{
    font-size: 50px;
    margin: 0 0 30px 0;
}

.shipping h5{
    text-decoration: underline;
}

.shipping p{
    line-height: 30px;
}


@media only screen and (max-width: 450px) {
     
    .shipping h1{
        font-size: 24px;
    }

    .shipping{
        width:85%;
    }

    .shipping p{
        line-height: 20px;
    }

}
